# Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
00_data_info_and_loader_template_old.ipynb

# Python
__pycache__/
*.py[cod]
*.$py.class
*.so
*.Python

# Virtual Environments
env/
venv/
ENV/
conda-env/

# OS files
.DS_Store
Thumbs.db
